.line {color:#fff; background-color: #4d4d4d;; margin: 12px 16px; padding: 4px 16px}

.stories {background-color: #fff;
  border-bottom: 1px solid #000;
  overflow-y:scroll;
  display:flex;
  padding:12px; }
.stories__header { background-color: #f1f1f1;
    display:flex;
    justify-content: space-between;
    padding: 10px 18px; }
.story {
    flex:0 0 auto;
    margin-right:24px;
    text-align:center;}
    
.story_image {
      border-radius: 50%;
      position:relative;
      z-index:2;
      border:2px solid red; }
.story_name {font-weight:bold; padding:0; margin:0;} 


.dh_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.dh_grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.dh_grid > article img {
  max-width: 100%;
}

.dh_grid .text {
  padding: 20px;
}
